h1{
    text-align:center;
    height:100px;
    width:500px;
    background-color:aqua;
    border-width:10px;
    border-style:double;
    border-color:red;
    
}
div{
    height:50px;
    background-color: deeppink;
    width:100px;
    border-width:5px;
    border-style:solid;
    border-color:green;
}
h2{
    background-color: rgb(171, 171, 234);
    height:50px;
    border-width:5px;
    border-style:dashed;
    border-color:brown;
    border-radius:50%;
    text-align:center;
}
p{
    height:40px;
    background-color:chartreuse;
    border-width:15px;
    border-style:groove;
    border-color:fuchsia;
    border-radius:15px;
}
button{
    width:100px;
    height:50px;
    background-color:indianred;
    border-width:10px;
    border-style:outset;
}
#one{
    height:70px;
    width:255px;
    border:11px solid yellow;
}
#two{
    background-color: rgb(192, 64, 194);
    height: 100px;
    width:100px;
    border:5px double rgb(247, 88, 70);
    border-radius:50%;
    text-align:center;
}
#three{
    background-color: rgb(192, 64, 194);
    height: 100px;
    width:100px;
    border:5px double rgb(247, 88, 70);
    border-radius:25%;
    text-align:center;
}