b{
    color:#ff0000;
}
i{
    color:#00ff00;
}
u{
    color:#0000ff;
}
big{
    color:#ffff00;
}
small{
    color:#ff00ff;
}
pre{
    color:#03f4fc;
}
*{
    background-color: #c394fc;
}