#one{
    height: 100px;
    width: 100px;
    background-color:aquamarine;
    font-size:10px;
}
#two{
    height: 30%;
    width: 50%;
    background-color: brown;
    font-size: 2em;
}
#three{
    background-color: chartreuse;
    height:75px;
    width:75px;
    font-size:20px;
}
#four{
    background-color: blueviolet;
    height: 50%;
    width: 5em;
    font-size: 0.5em;
}