body{
    text-align:center;
}
div{
    height:100px;
    width:100px;
    display:inline-block;
    border:2px solid black;
}
#container{
    height:300px;
    width:400px;
    display:flex;
}
#box1{
    background-color: rgba(255,0,0,0.5);
}
#box2{
    background-color: rgba(0,255,0,0.5);
}
#box3{
    background-color:rgba(0,0,255,0.5);
    flex-shrink:2;
}
#box4{
    background-color: pink;
    flex-shrink:0;
}
#box5{
    background-color: rgba(255,255,0,0.5);
}