div{
    height: 100px;
    width: 100px;
    display: inline-block;
}
#box1{
    background-color: brown;
    position : static;
}
#box2{
    background-color: blue;
    position: relative;
    top:30px;
    left:180px;
    z-index:2;
}
#box3{
    background-color: blueviolet;
    position: fixed;
    top:10px;
}
#box4{
    background-color: aquamarine;
    position:sticky;
    top:0;
    left:260px;
    /* z-index:-2; */
}
#box5{
    background-color:darkorange;
    position:fixed;
    bottom:0;
    width:100%;
    margin:0;
    height: 2em;;
}
